# ignore everything by default
/*

# Allow .zshrc and .gitignore
!/.zshrc
!/.gitignore

# Allow /.config
!/.config/

# Ignore everything in /.config
/.config/*

# Allow the specific configs
!/.config/wezterm/
!/.config/nvim/
!/.config/install/
