# ignore everything by default
/*

# Allow .zshrc and .gitignore
!/.zshrc
!/.gitignore
!/.gitconfig
!/.p10k.zsh
!/.gitmodules
!/.profile

# Allow /.config
!/.config/
!/.oh-my-zsh/
!/.fzf/

# Ignore everything in /.config
/.config/*

# Allow the specific configs
!/.config/wezterm/
!/.config/nvim/
!/.config/install/
!/.config/ghostty/
!/.config/hypr/
!/.config/rofi/
!/.config/waybar/
!/.config/yay/
