# ignore everything by default
/*

# Allow .zshrc and .gitignore
!/.zshrc
!/.gitignore
!/.gitconfig
!/.p10k.zsh
!/.gitmodules
!/.profile
!/.tmux.conf
!/packages.txt

# Allow /.config
!/.config/
!/.oh-my-zsh/
!/.oh-my-zsh/*
!/.fzf/
!/.fzf/*

# Disallow cache
/.oh-my-zsh/cache/**

# Ignore everything in /.config
/.config/*

# Allow the specific configs
!/.config/wezterm/
!/.config/nvim/
!/.config/install/
!/.config/ghostty/
!/.config/hypr/
!/.config/quickshell/
!/.config/rofi/
!/.config/waybar/
!/.config/yay/
